@font-face {
    font-family: Roboto;
    src: url("../resources/Roboto-Regular.ttf");
  }

html {

    background-color: rgb(11, 11, 11);
    color:white;
    font-family: 'Roboto';
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

}

td, th {
    padding: 1vh;
}

#title {
    margin-top: 5rem;
    font-size: 10vh;
    text-align: center;
}

#table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    font-size: 1.5em;
    font-family: sans-serif;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
#thead {
    text-align: left;
    background-color: #009879;
    font-weight: bold;
}
#tbody {
    height: 10%;
    background-color: rgb(32, 32, 32);


}
#highlight {
    color: #05caa3;
    font-weight: bold;
}

#days:hover, #hours:hover, #minutes:hover, #seconds:hover{
    transition: 0.3s;
    background-color:rgb(27, 27, 27);
}
